/* Universal styles */
html {
  font-size: 24px;
  /* background gradient - not sure if width/height need to be set otherwise. Maybe try some scrolling jquery plugin. */
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, hsl(26,54%,77%), hsl(159,6%,57%));
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: hsl(0, 100%, 100%);
   /* can be treated like a fallback
  background-color: red; */
}

/* Don't display menu contents by default */
.menu {
  display: none;
}

.outer-container {
  max-width: 1024px;
  margin: 2rem 3rem;
  /* padding: ; */
  display: flex;
  /* justify-content: center; */
  /* flex-direction: row; */
}


/* Desktop styles */

  /* For now don't display video section */
.video {
  display: none;
}

p,
h2 {
  font-size: 2.5rem;
}

h2 {
  color: hsl(0, 0%, 0%);
  padding: 2rem 0;
}
/* Tablet styles */

/* Mobile styles */
